.main {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 20px;
}

.main input[type=checkbox] {
    visibility: hidden;
}

.checkbox-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #CCCCCC;
    border: none;
    border-radius: 4px;
}

.main:hover input~.checkbox-container {
    background-color: CCCCCC;
}

.main input:active~.checkbox-container {
    background-color: #000000;
}

.main input:checked~.checkbox-container {
    background-color: #000000;
}

.checkbox-container::after {
    content: "";
    position: absolute;
    display: none;
    left: 10px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
   
}

.main input:checked~.checkbox-container::after {
    display: block;
}